.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;

}

.bottomGrid {
    display: grid;
    grid-column: 1/span 4;
    /*grid-template-columns:1fr 1fr 1fr;*/
    grid-gap: 2rem;
    border-radius: 1em;
    /*background: rgba(157, 185, 185, 0.45);*/
}


.laptopBuyNow {
    width: 100%;
    grid-column: 3;
}

.container {
    max-width: 80rem;
    margin: 0 auto;
    /*background: #C4C4C4;*/
    border-radius: 1em;
}


img {
    max-width: 20rem;
    border: 0.2em solid #FF5733;

}

button, select {
    display: inline-block;
    font-family: monospace;
    font-weight: bold;
    border-radius: 0.5em;
    font-size: 2em;
}


.value {
    text-align: center;
}

.color-1 {
    background-color: #57c8b6;
}

.color-2 {
    background-color: #b44a33;
}

.color-3 {
    background-color: #DAF7A6;
}

.color-4 {
    background-color: #FFC300;
}

.color-5 {
    background-color: #FF5733;
}

.color-6 {
    background-color: #c857b8;
}